<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ca.adambell.DarkDock</key>
	<dict>
		<key>apps</key>
		<string>Dock</string>
		<key>author</key>
		<string>Adam Bell</string>
		<key>compat</key>
		<string>macOS 10.9+</string>
		<key>contact</key>
		<string>adam@adambell.ca</string>
		<key>date</key>
		<string>Dec 21, 2016</string>
		<key>description</key>
		<string>Force the Dock to display in Dark Mode</string>
		<key>descriptionShort</key>
		<string>Force the Dock to display in Dark Mode</string>
		<key>donate</key>
		<string></string>
		<key>filename</key>
		<string>/bundles/DarkDock_1.0.zip</string>
		<key>homepage</key>
		<string>https://github.com/b3ll/DarkDock/</string>
		<key>name</key>
		<string>DarkDock</string>
		<key>package</key>
		<string>ca.adambell.DarkDock</string>
		<key>price</key>
		<string>Free</string>
		<key>size</key>
		<integer>19941</integer>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.dock.extra</string>
			</dict>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.dock</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.0</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<key>com.BenTrask.ScrollbarsOnTheLeft</key>
	<dict>
		<key>apps</key>
		<string>System</string>
		<key>author</key>
		<string>Ben Trask</string>
		<key>compat</key>
		<string>macOS 10.9+</string>
		<key>contact</key>
		<string>bentrask@comcast.net</string>
		<key>date</key>
		<string>Dec 21, 2016</string>
		<key>description</key>
		<string>Change scrollbar placement to the left side</string>
		<key>descriptionShort</key>
		<string>Change scrollbar placement to the left side</string>
		<key>donate</key>
		<string></string>
		<key>filename</key>
		<string>/bundles/ScrollbarsOnTheLeft_1.0.zip</string>
		<key>homepage</key>
		<string>https://github.com/btrask/ScrollbarsOnTheLeft</string>
		<key>name</key>
		<string>ScrollbarsOnTheLeft</string>
		<key>package</key>
		<string>com.BenTrask.ScrollbarsOnTheLeft</string>
		<key>price</key>
		<string>Free</string>
		<key>size</key>
		<integer>9786</integer>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>*</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.0</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<key>com.alexbeals.SpacesRenamer</key>
	<dict>
		<key>apps</key>
		<string>Dock</string>
		<key>author</key>
		<string>Alex Beals</string>
		<key>compat</key>
		<string>macOS 10.10+</string>
		<key>contact</key>
		<string></string>
		<key>customIcon</key>
		<true/>
		<key>date</key>
		<string>Aug 05, 2019</string>
		<key>description</key>
		<string>Simple menubar tool that lets you customize the names of your spaces to anything you want.</string>
		<key>descriptionShort</key>
		<string>Rename spaces on macOS</string>
		<key>donate</key>
		<string></string>
		<key>filename</key>
		<string>/bundles/spaces-renamer_1.7.1.zip</string>
		<key>hasPreview</key>
		<true/>
		<key>homepage</key>
		<string>https://alexbeals.com/</string>
		<key>icon</key>
		<string>/images/com.alexbeals.SpacesRenamer/icon.png</string>
		<key>name</key>
		<string>spaces-renamer</string>
		<key>package</key>
		<string>com.alexbeals.SpacesRenamer</string>
		<key>payed</key>
		<false/>
		<key>price</key>
		<string>$0.00</string>
		<key>size</key>
		<integer>7991083</integer>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.dock</string>
			</dict>
		</array>
		<key>type</key>
		<string>app</string>
		<key>version</key>
		<string>1.7.1</string>
		<key>webpage</key>
		<string>https://alexbeals.com/</string>
	</dict>
	<key>com.elanini.PreviewNoSidebar</key>
	<dict>
		<key>apps</key>
		<string>Preview</string>
		<key>author</key>
		<string>Elanini</string>
		<key>compat</key>
		<string>macOS 10.9+</string>
		<key>contact</key>
		<string></string>
		<key>date</key>
		<string>Dec 21, 2016</string>
		<key>description</key>
		<string>No sidebar in preview</string>
		<key>descriptionShort</key>
		<string>No sidebar in preview</string>
		<key>donate</key>
		<string></string>
		<key>filename</key>
		<string>/bundles/PreviewNoSidebar_1.0.zip</string>
		<key>homepage</key>
		<string>https://github.com/elanini/PreviewNoSidebar</string>
		<key>name</key>
		<string>PreviewNoSidebar</string>
		<key>package</key>
		<string>com.elanini.PreviewNoSidebar</string>
		<key>price</key>
		<string>Free</string>
		<key>size</key>
		<integer>11061</integer>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.Preview</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.0</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<key>com.github.jslegendre.AfloatX</key>
	<dict>
		<key>apps</key>
		<string>System</string>
		<key>author</key>
		<string>Jeremy Legendre</string>
		<key>compat</key>
		<string>macOS 10.14+</string>
		<key>contact</key>
		<string>jslegendre@gmail.com</string>
		<key>date</key>
		<string>Jan 28, 2019</string>
		<key>description</key>
		<string>Although AfloatX has some of the same features as Afloat, it is not meant to be a clone. AfloatX is a simple and unobtrusive plugin made to add some additional window management features.</string>
		<key>descriptionShort</key>
		<string>A powerful yet discreet plugin to add extra features to your windows</string>
		<key>filename</key>
		<string>/bundles/AfloatX_1.3.1.zip</string>
		<key>hasPreview</key>
		<true/>
		<key>homepage</key>
		<string>https://github.com/jslegendre/AfloatX</string>
		<key>name</key>
		<string>AfloatX</string>
		<key>package</key>
		<string>com.github.jslegendre.AfloatX</string>
		<key>price</key>
		<string>$0.00</string>
		<key>size</key>
		<integer>19738</integer>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>*</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.3.1</string>
		<key>webpage</key>
		<string>https://github.com/jslegendre/AfloatX</string>
	</dict>
	<key>com.github.jslegendre.LiftOff</key>
	<dict>
		<key>apps</key>
		<string>Dock</string>
		<key>author</key>
		<string>Jeremy Legendre</string>
		<key>compat</key>
		<string>macOS 10.13+</string>
		<key>contact</key>
		<string>jslegendre@gmail.com</string>
		<key>customIcon</key>
		<true/>
		<key>date</key>
		<string>Dec 2, 2019</string>
		<key>description</key>
		<string>An awesome plugin that displays the launchpad on top of the Desktop at all times making it easier than ever to access your apps!</string>
		<key>descriptionShort</key>
		<string>Overlay Launchpad on the Desktop</string>
		<key>donate</key>
		<string></string>
		<key>filename</key>
		<string>/bundles/LiftOff_1.1.5.zip</string>
		<key>hasPreview</key>
		<true/>
		<key>homepage</key>
		<string>https://jslegendre.github.com/</string>
		<key>icon</key>
		<string>/images/com.github.jslegendre.LiftOff/icon.png</string>
		<key>name</key>
		<string>LiftOff</string>
		<key>package</key>
		<string>com.github.jslegendre.LiftOff</string>
		<key>paddle</key>
		<dict>
			<key>apikey</key>
			<string>508205c7de527e9cc702cd1b1e5e2733</string>
			<key>productid</key>
			<string>570933</string>
			<key>vendorid</key>
			<string>102003</string>
		</dict>
		<key>payed</key>
		<true/>
		<key>price</key>
		<string>$2.99</string>
		<key>productID</key>
		<string>570933</string>
		<key>size</key>
		<integer>2498845</integer>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.dock</string>
			</dict>
		</array>
		<key>type</key>
		<string>Bundle</string>
		<key>version</key>
		<string>1.1.5</string>
	</dict>
	<key>com.github.jslegendre.Termite</key>
	<dict>
		<key>apps</key>
		<string>Bartender 3</string>
		<key>author</key>
		<string>Jeremy Legendre</string>
		<key>compat</key>
		<string>macOS 10.13+</string>
		<key>contact</key>
		<string>jslegendre@gmail.com</string>
		<key>date</key>
		<string>Oct 26, 2019</string>
		<key>description</key>
		<string>Expand Bartender 3 on mouse over. Now you won&apos;t have to endure the long and arduous task of clicking on the little Bartender button to toggle your other status bar items.</string>
		<key>descriptionShort</key>
		<string>Expand Bartender 3 on mouse over</string>
		<key>filename</key>
		<string>/bundles/Termite_1.0.42.zip</string>
		<key>hasPreview</key>
		<true/>
		<key>homepage</key>
		<string>https://github.com/jslegendre/Termite</string>
		<key>name</key>
		<string>Termite</string>
		<key>package</key>
		<string>com.github.jslegendre.Termite</string>
		<key>price</key>
		<string>$0.00</string>
		<key>size</key>
		<integer>5852</integer>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.surteesstudios.Bartender</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.0.42</string>
		<key>webpage</key>
		<string>https://github.com/jslegendre/Termite</string>
	</dict>
	<key>com.hackingdartmouth.message-indicator</key>
	<dict>
		<key>apps</key>
		<string>Messages</string>
		<key>author</key>
		<string>Alex Beals</string>
		<key>compat</key>
		<string>macOS 10.9+</string>
		<key>contact</key>
		<string>alexcbeals+simbl@gmail.com</string>
		<key>date</key>
		<string>Apr 14, 2018</string>
		<key>description</key>
		<string>This plugin adds a small gray indicator under the blue unread one to Messages if you weren&apos;t the last person to respond, and it&apos;s not a group chat.</string>
		<key>descriptionShort</key>
		<string>A Messages indicator for when you haven&apos;t responded</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/message-indicator_1.1.0.zip</string>
		<key>homepage</key>
		<string>https://github.com/dado3212/message-indicator</string>
		<key>name</key>
		<string>message-indicator</string>
		<key>package</key>
		<string>com.hackingdartmouth.message-indicator</string>
		<key>price</key>
		<string>Free</string>
		<key>size</key>
		<integer>20002</integer>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.iChat</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.1.0</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<key>com.hetima.SafariStand</key>
	<dict>
		<key>apps</key>
		<string>Safari</string>
		<key>author</key>
		<string>Hetima</string>
		<key>compat</key>
		<string>Safari 9</string>
		<key>contact</key>
		<string>hetima@hetima.com</string>
		<key>date</key>
		<string>Dec 21, 2016</string>
		<key>description</key>
		<string>Improvements to Safari</string>
		<key>descriptionShort</key>
		<string>Improvements to Safari</string>
		<key>donate</key>
		<string></string>
		<key>filename</key>
		<string>/bundles/SafariStand_9.0.217Yosemite.zip</string>
		<key>homepage</key>
		<string>https://github.com/hetima/SafariStand/</string>
		<key>name</key>
		<string>SafariStand</string>
		<key>package</key>
		<string>com.hetima.SafariStand</string>
		<key>price</key>
		<string>Free</string>
		<key>size</key>
		<integer>346315</integer>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.Safari</string>
			</dict>
		</array>
		<key>version</key>
		<string>9.0.217Yosemite</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<key>com.kuglee.batteryextra</key>
	<dict>
		<key>apps</key>
		<string>Battery Statusbar Item</string>
		<key>author</key>
		<string>Gábor Librecz</string>
		<key>compat</key>
		<string>macOS 10.12+</string>
		<key>contact</key>
		<string>kuglee@gmail.com</string>
		<key>date</key>
		<string>May 05, 2018</string>
		<key>description</key>
		<string>Makes the Battery status indicator work just like how it did back in Mac OS X Lion (10.7).</string>
		<key>descriptionShort</key>
		<string>Plugin for the Battery status indicator</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/BatteryExtra_1.3.1.zip</string>
		<key>homepage</key>
		<string>https://github.com/kuglee/BatteryExtra</string>
		<key>name</key>
		<string>BatteryExtra</string>
		<key>package</key>
		<string>com.kuglee.batteryextra</string>
		<key>price</key>
		<string>$0.00</string>
		<key>size</key>
		<integer>6476161</integer>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.systemuiserver</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.3.1</string>
		<key>webpage</key>
		<string>https://github.com/kuglee/BatteryExtra</string>
	</dict>
	<key>com.mneorr.Alcatraz</key>
	<dict>
		<key>apps</key>
		<string>Xcode</string>
		<key>author</key>
		<string>macEnhance</string>
		<key>compat</key>
		<string>Xcode 7+</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>date</key>
		<string>Apr 14, 2018</string>
		<key>description</key>
		<string>Plugin manager for Xcode</string>
		<key>descriptionShort</key>
		<string>Plugin manager for Xcode</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/Alcatraz_1.2.1.zip</string>
		<key>homepage</key>
		<string>http://alcatraz.io/</string>
		<key>name</key>
		<string>Alcatraz</string>
		<key>package</key>
		<string>com.mneorr.Alcatraz</string>
		<key>price</key>
		<string>Free</string>
		<key>size</key>
		<integer>138158</integer>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.dt.Xcode</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.2.1</string>
		<key>webpage</key>
		<string>http://alcatraz.io/</string>
	</dict>
	<key>com.pooriaazimi.betterdictionary</key>
	<dict>
		<key>apps</key>
		<string>Dictionary</string>
		<key>author</key>
		<string>Pooria Azimi</string>
		<key>compat</key>
		<string>macOS 10.9+</string>
		<key>contact</key>
		<string>pooriaazimi@gmail.com</string>
		<key>date</key>
		<string>Dec 21, 2016</string>
		<key>description</key>
		<string>Improve the dictionary app</string>
		<key>descriptionShort</key>
		<string>Improve the dictionary app</string>
		<key>donate</key>
		<string></string>
		<key>filename</key>
		<string>/bundles/BetterDictionary_0.992.zip</string>
		<key>homepage</key>
		<string>https://github.com/pooriaazimi/BetterDictionary/</string>
		<key>name</key>
		<string>BetterDictionary</string>
		<key>package</key>
		<string>com.pooriaazimi.betterdictionary</string>
		<key>price</key>
		<string>Free</string>
		<key>size</key>
		<integer>326967</integer>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.Dictionary</string>
			</dict>
		</array>
		<key>version</key>
		<string>0.992</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<key>com.prestonmueller.RadonChrome</key>
	<dict>
		<key>apps</key>
		<string>Google Chrome</string>
		<key>author</key>
		<string>macEnhance</string>
		<key>compat</key>
		<string>Chrome 50+</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>date</key>
		<string>Dec 21, 2016</string>
		<key>description</key>
		<string>Send Chrome notification to the notification center</string>
		<key>descriptionShort</key>
		<string>Send Chrome notification to the notification center</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/RadonChrome_1.0.zip</string>
		<key>homepage</key>
		<string>https://github.com/w0lfschild/RadonChrome/</string>
		<key>name</key>
		<string>RadonChrome</string>
		<key>package</key>
		<string>com.prestonmueller.RadonChrome</string>
		<key>price</key>
		<string>Free</string>
		<key>size</key>
		<integer>18454</integer>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.google.Chrome</string>
			</dict>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.google.Chrome.canary</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.0</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<key>com.s21g.TerminalCopyOnSelect</key>
	<dict>
		<key>apps</key>
		<string>Terminal</string>
		<key>author</key>
		<string>Minoru Nakata</string>
		<key>compat</key>
		<string>macOS 10.9+</string>
		<key>contact</key>
		<string></string>
		<key>date</key>
		<string>Jan 19, 2017</string>
		<key>description</key>
		<string>Copy text on selection in Terminal</string>
		<key>descriptionShort</key>
		<string>Copy text on selection in Terminal</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/TerminalCopyOnSelect_0.1.2.zip</string>
		<key>homepage</key>
		<string>https://github.com/u-minor/terminalcopyonselect</string>
		<key>name</key>
		<string>TerminalCopyOnSelect</string>
		<key>package</key>
		<string>com.s21g.TerminalCopyOnSelect</string>
		<key>price</key>
		<string>Free</string>
		<key>size</key>
		<integer>5153</integer>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.Terminal</string>
			</dict>
		</array>
		<key>version</key>
		<string>0.1.2</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<key>com.shishkabibal.WriteReceipt</key>
	<dict>
		<key>apps</key>
		<string>Messages</string>
		<key>author</key>
		<string>Brian</string>
		<key>compat</key>
		<string>macOS 10.13+</string>
		<key>contact</key>
		<string></string>
		<key>date</key>
		<string>May 05, 2018</string>
		<key>description</key>
		<string>plugin for Messages that leaves chats unread (and read receipts unsent) until you begin typing a reply (or press enter)</string>
		<key>descriptionShort</key>
		<string>Leaves chats unread until you type</string>
		<key>donate</key>
		<string></string>
		<key>filename</key>
		<string>/bundles/WriteReceipt_1.1.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>WriteReceipt</string>
		<key>package</key>
		<string>com.shishkabibal.WriteReceipt</string>
		<key>price</key>
		<string>$0.00</string>
		<key>size</key>
		<integer>76074</integer>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.iChat</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.1</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<key>com.yourcompany.MenuBarHider</key>
	<dict>
		<key>apps</key>
		<string>System</string>
		<key>author</key>
		<string>Crazor</string>
		<key>compat</key>
		<string>macOS 10.9+</string>
		<key>contact</key>
		<string>crazor@gmail.com</string>
		<key>date</key>
		<string>Dec 21, 2016</string>
		<key>description</key>
		<string>Hide the menubar on OSX 10.10 and below</string>
		<key>descriptionShort</key>
		<string>Hide the menubar on OSX 10.10 and below</string>
		<key>donate</key>
		<string></string>
		<key>filename</key>
		<string>/bundles/MenuBarHider_1.0.zip</string>
		<key>homepage</key>
		<string>https://github.com/Crazor/MenuBarHider/</string>
		<key>name</key>
		<string>MenuBarHider</string>
		<key>package</key>
		<string>com.yourcompany.MenuBarHider</string>
		<key>price</key>
		<string>Free</string>
		<key>size</key>
		<integer>10978</integer>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>*</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.0</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<key>info.8-p.GreaseKit</key>
	<dict>
		<key>apps</key>
		<string>Safari</string>
		<key>author</key>
		<string>Kato Kazuyoshi</string>
		<key>compat</key>
		<string>macOS 10.9+</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>date</key>
		<string>Apr 14, 2018</string>
		<key>description</key>
		<string>GreaseKit is a MacForge plugin, that adds user scripting to Safari, Mailplane, Diet Pibb.app and all WebKit applications.</string>
		<key>descriptionShort</key>
		<string>Adds user scripting to Safari</string>
		<key>donate</key>
		<string></string>
		<key>filename</key>
		<string>/bundles/GreaseKit_1.7.zip</string>
		<key>homepage</key>
		<string>https://8-p.info/greasekit/</string>
		<key>name</key>
		<string>GreaseKit</string>
		<key>package</key>
		<string>info.8-p.GreaseKit</string>
		<key>price</key>
		<string>$0.00</string>
		<key>size</key>
		<integer>75609</integer>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>*</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.7</string>
		<key>webpage</key>
		<string>https://8-p.info/greasekit/</string>
	</dict>
	<key>io.callcc.Spaytify</key>
	<dict>
		<key>apps</key>
		<string>Spotify</string>
		<key>author</key>
		<string>Matt Green</string>
		<key>compat</key>
		<string>macOS 10.9+</string>
		<key>contact</key>
		<string>MattGreenrocks@gmail.com</string>
		<key>date</key>
		<string>Dec 21, 2016</string>
		<key>description</key>
		<string>Disable Spotify&apos;s badging/bouncing of the dock icon</string>
		<key>descriptionShort</key>
		<string>Disable Spotify&apos;s badging/bouncing of the dock icon</string>
		<key>donate</key>
		<string></string>
		<key>filename</key>
		<string>/bundles/Spaytify_1.0.1.zip</string>
		<key>homepage</key>
		<string>https://github.com/mattgreen/spaytify</string>
		<key>name</key>
		<string>Spaytify</string>
		<key>package</key>
		<string>io.callcc.Spaytify</string>
		<key>price</key>
		<string>Free</string>
		<key>size</key>
		<integer>4799</integer>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.spotify.client</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.0.1</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<key>me.choco.noTitleBarTerminal</key>
	<dict>
		<key>apps</key>
		<string></string>
		<key>author</key>
		<string>macEnhance</string>
		<key>compat</key>
		<string>macOS 10.9+</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>date</key>
		<string>Apr 14, 2018</string>
		<key>description</key>
		<string>Removes the titlebar from the Terminal for a clean look while coding.</string>
		<key>descriptionShort</key>
		<string>No tiltle bar in the Terminal app</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/noTitleBar-Terminal_0.2.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>noTitleBar-Terminal</string>
		<key>package</key>
		<string>me.choco.noTitleBarTerminal</string>
		<key>price</key>
		<string>$0.00</string>
		<key>size</key>
		<integer>10755</integer>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.Terminal</string>
			</dict>
		</array>
		<key>version</key>
		<string>0.2</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<key>me.inket.CustomNC</key>
	<dict>
		<key>apps</key>
		<string>Notification Center</string>
		<key>author</key>
		<string>Mahdi Bchetnia</string>
		<key>compat</key>
		<string>macOS 10.9+</string>
		<key>contact</key>
		<string>mahdi@outlook.com</string>
		<key>date</key>
		<string>Dec 21, 2016</string>
		<key>description</key>
		<string>Personalise your Notification Center banners and alerts</string>
		<key>descriptionShort</key>
		<string>Personalise your Notification Center banners and alerts</string>
		<key>donate</key>
		<string></string>
		<key>filename</key>
		<string>/bundles/CustomNC_1.5.zip</string>
		<key>homepage</key>
		<string>https://github.com/inket/CustomNC</string>
		<key>name</key>
		<string>CustomNC</string>
		<key>package</key>
		<string>me.inket.CustomNC</string>
		<key>price</key>
		<string>Free</string>
		<key>size</key>
		<integer>21336</integer>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.notificationcenterui</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.5</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<key>me.inket.GlobalNoFullscreenButton</key>
	<dict>
		<key>apps</key>
		<string>System</string>
		<key>author</key>
		<string>macEnhance</string>
		<key>compat</key>
		<string>macOS 10.9+</string>
		<key>contact</key>
		<string>mahdi@outlook.com</string>
		<key>date</key>
		<string>Apr 14, 2018</string>
		<key>description</key>
		<string>Hides fullscreen button from windows.</string>
		<key>descriptionShort</key>
		<string>Hides fullscreen button from windows.</string>
		<key>donate</key>
		<string></string>
		<key>filename</key>
		<string>/bundles/GlobalNoFullscreenButton_1.0.zip</string>
		<key>homepage</key>
		<string>https://github.com/inket</string>
		<key>name</key>
		<string>GlobalNoFullscreenButton</string>
		<key>package</key>
		<string>me.inket.GlobalNoFullscreenButton</string>
		<key>price</key>
		<string>$0.00</string>
		<key>size</key>
		<integer>5252</integer>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>*</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.0</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<key>me.inket.GlobalNoWindowIcon</key>
	<dict>
		<key>apps</key>
		<string>System</string>
		<key>author</key>
		<string>macEnhance</string>
		<key>compat</key>
		<string>macOS 10.9+</string>
		<key>contact</key>
		<string>mahdi@outlook.com</string>
		<key>date</key>
		<string>Apr 14, 2018</string>
		<key>description</key>
		<string>Hides window icons on (almost) all apps.</string>
		<key>descriptionShort</key>
		<string>Hides window icons on (almost) all apps.</string>
		<key>donate</key>
		<string></string>
		<key>filename</key>
		<string>/bundles/GlobalNoWindowIcon_1.0.zip</string>
		<key>homepage</key>
		<string>https://github.com/inket</string>
		<key>name</key>
		<string>GlobalNoWindowIcon</string>
		<key>package</key>
		<string>me.inket.GlobalNoWindowIcon</string>
		<key>price</key>
		<string>$0.00</string>
		<key>size</key>
		<integer>16052</integer>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>*</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.0</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<key>me.inket.GlobalNoWindowTitle</key>
	<dict>
		<key>apps</key>
		<string>System</string>
		<key>author</key>
		<string>macEnhance</string>
		<key>compat</key>
		<string>macOS 10.9+</string>
		<key>contact</key>
		<string>mahdi@outlook.com</string>
		<key>date</key>
		<string>Apr 14, 2018</string>
		<key>description</key>
		<string>Hides window titles+icons.</string>
		<key>descriptionShort</key>
		<string>Hides window titles+icons.</string>
		<key>donate</key>
		<string></string>
		<key>filename</key>
		<string>/bundles/GlobalNoWindowTitle_1.0.zip</string>
		<key>homepage</key>
		<string>https://github.com/inket</string>
		<key>name</key>
		<string>GlobalNoWindowTitle</string>
		<key>package</key>
		<string>me.inket.GlobalNoWindowTitle</string>
		<key>price</key>
		<string>$0.00</string>
		<key>size</key>
		<integer>8567</integer>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>*</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.0</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<key>me.inket.cosyTabs</key>
	<dict>
		<key>apps</key>
		<string>Safari</string>
		<key>author</key>
		<string>Mahdi Bchetnia</string>
		<key>compat</key>
		<string>macOS 10.9+</string>
		<key>contact</key>
		<string>mahdi@outlook.com</string>
		<key>date</key>
		<string>Dec 21, 2016</string>
		<key>description</key>
		<string>Safari 5 tabs on Safari 6+</string>
		<key>descriptionShort</key>
		<string>Safari 5 tabs on Safari 6+</string>
		<key>donate</key>
		<string></string>
		<key>filename</key>
		<string>/bundles/cosyTabs_1.4.2.zip</string>
		<key>homepage</key>
		<string>https://mahdi.jp/apps/cosytabs</string>
		<key>name</key>
		<string>cosyTabs</string>
		<key>package</key>
		<string>me.inket.cosyTabs</string>
		<key>price</key>
		<string>Free</string>
		<key>size</key>
		<integer>16650</integer>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.Safari</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.4.2</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<key>name.guoc.excerptor.PDFReaderPlugin</key>
	<dict>
		<key>apps</key>
		<string>Preview / Skim</string>
		<key>author</key>
		<string>macEnhance</string>
		<key>compat</key>
		<string>macOS 10.10+</string>
		<key>contact</key>
		<string>guochen42+excerptor@gmail.com</string>
		<key>date</key>
		<string>Apr 14, 2018</string>
		<key>description</key>
		<string>When you read a PDF file, you may want to take some excerpts, like excerpting on physical books (including article name, page number etc.). Via Excerptor, you can take excerpts easily: select text in Preview/Skim and type a shortcut. An excerpt will be stored in pasteboard or a file. The excerpt includes a special link. By clicking the link, Excerptor will open the corresponding file by Preview/Skim, go to the page you want and highlight the excerpt you made, automatically.</string>
		<key>descriptionShort</key>
		<string>Take and locate excerpts in PDF files quickly</string>
		<key>donate</key>
		<string></string>
		<key>filename</key>
		<string>/bundles/PDFReaderPlugin_1.2.zip</string>
		<key>homepage</key>
		<string>https://github.com/guoc/excerptor</string>
		<key>name</key>
		<string>PDFReaderPlugin</string>
		<key>package</key>
		<string>name.guoc.excerptor.PDFReaderPlugin</string>
		<key>price</key>
		<string>$0.00</string>
		<key>size</key>
		<integer>30097</integer>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.Preview</string>
			</dict>
			<dict>
				<key>BundleIdentifier</key>
				<string>net.sourceforge.skim-app.skim</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.2</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<key>org.bitheap.MouseTerm</key>
	<dict>
		<key>apps</key>
		<string>Terminal</string>
		<key>author</key>
		<string>Brodie Rao</string>
		<key>compat</key>
		<string>macOS 10.9+</string>
		<key>contact</key>
		<string>brodie@sf.io</string>
		<key>date</key>
		<string>Dec 21, 2016</string>
		<key>description</key>
		<string>Adds xterm mouse reporting to Terminal</string>
		<key>descriptionShort</key>
		<string>Adds xterm mouse reporting to Terminal</string>
		<key>donate</key>
		<string></string>
		<key>filename</key>
		<string>/bundles/MouseTerm_plus-1.0a10.zip</string>
		<key>homepage</key>
		<string>https://github.com/brodie/mouseterm</string>
		<key>name</key>
		<string>MouseTerm</string>
		<key>package</key>
		<string>org.bitheap.MouseTerm</string>
		<key>price</key>
		<string>Free</string>
		<key>size</key>
		<integer>76236</integer>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.Terminal</string>
			</dict>
		</array>
		<key>version</key>
		<string>plus-1.0a10</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<key>org.craptech.lightWin</key>
	<dict>
		<key>apps</key>
		<string></string>
		<key>author</key>
		<string>macEnhance</string>
		<key>compat</key>
		<string>macOS 10.9+</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>date</key>
		<string>Apr 14, 2018</string>
		<key>description</key>
		<string>Simple bundle to give Terminal a borderless, shadowless look</string>
		<key>descriptionShort</key>
		<string>borderless, shadowless Terminal.app</string>
		<key>donate</key>
		<string></string>
		<key>filename</key>
		<string>/bundles/lightWin_0.1.14.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>lightWin</string>
		<key>package</key>
		<string>org.craptech.lightWin</string>
		<key>price</key>
		<string>$0.00</string>
		<key>size</key>
		<integer>22098</integer>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.Terminal</string>
			</dict>
		</array>
		<key>version</key>
		<string>0.1.14</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<key>org.michaelphines.ChromeDimBackground</key>
	<dict>
		<key>apps</key>
		<string>Google Chrome</string>
		<key>author</key>
		<string>krackers</string>
		<key>compat</key>
		<string>macOS 10.9+</string>
		<key>contact</key>
		<string></string>
		<key>date</key>
		<string>Dec 21, 2016</string>
		<key>description</key>
		<string>Themed tabs change when in the background</string>
		<key>descriptionShort</key>
		<string>Themed tabs change when in the background</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/ChromeDimBackground_0.1.1.zip</string>
		<key>homepage</key>
		<string>https://github.com/krackers/ChromeDimBackground</string>
		<key>name</key>
		<string>ChromeDimBackground</string>
		<key>package</key>
		<string>org.michaelphines.ChromeDimBackground</string>
		<key>price</key>
		<string>Free</string>
		<key>size</key>
		<integer>17929</integer>
		<key>target</key>
		<string>null</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.google.Chrome</string>
			</dict>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.google.Chrome.canary</string>
			</dict>
		</array>
		<key>version</key>
		<string>0.1.1</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<key>ws.hbang.typestatus.mac</key>
	<dict>
		<key>apps</key>
		<string>Messages</string>
		<key>author</key>
		<string>HASHBANG Productions</string>
		<key>compat</key>
		<string>macOS 10.9+</string>
		<key>contact</key>
		<string>support@hbang.ws</string>
		<key>date</key>
		<string>Dec 21, 2016</string>
		<key>description</key>
		<string>Disply a notification when others are typing in Messages</string>
		<key>descriptionShort</key>
		<string>Disply a notification when others are typing in Messages</string>
		<key>donate</key>
		<string>https://hbang.ws/donate/</string>
		<key>filename</key>
		<string>/bundles/TypeStatus_1.0.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>TypeStatus</string>
		<key>package</key>
		<string>ws.hbang.typestatus.mac</string>
		<key>price</key>
		<string>Free</string>
		<key>size</key>
		<integer>16275</integer>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.iChat</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.0</string>
		<key>webpage</key>
		<string>https://typestatus.com/</string>
	</dict>
  <key>com.decode.JelloInject</key>
  <dict>
    <key>apps</key>
    <string>System</string>
    <key>author</key>
    <string>iamDecode</string>
    <key>compat</key>
    <string>macOS 10.9+</string>
    <key>contact</key>
    <string>iamdecode@me.com</string>
    <key>customIcon</key>
    <true/>
    <key>date</key>
    <string>Jan 28, 2020</string>
    <key>description</key>
    <string>A wobbly windows implementation for MacOS inspired by Compiz for Linux.</string>
    <key>descriptionShort</key>
    <string>A wobbly windows implementation for MacOS inspired by Compiz for Linux.</string>
    <key>donate</key>
    <string></string>
    <key>filename</key>
    <string>/bundles/Jello_0.0.2.zip</string>
    <key>homepage</key>
    <string>https://github.com/iamDecode/Jello</string>
    <key>icon</key>
    <string>/images/com.decode.JelloInject/icon.png</string>
    <key>name</key>
    <string>Jello</string>
    <key>package</key>
    <string>com.decode.JelloInject</string>
    <key>price</key>
    <string>Free</string>
    <key>size</key>
    <integer>3293476</integer>
    <key>targets</key>
    <array>
      <dict>
        <key>BundleIdentifier</key>
        <string>*</string>
      </dict>
    </array>
    <key>version</key>
    <string>0.0.2</string>
    <key>webpage</key>
    <string></string>
  </dict>
</dict>
</plist>
