<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.faramaz.SIMBL-FScript</key>
	<dict>
		<key>apps</key>
		<string>System</string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>compat</key>
		<string>macOS 10.9+</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>date</key>
		<string>Mar 11, 2017</string>
		<key>description</key>
		<string>Load F-Script into all applications</string>
		<key>descriptionShort</key>
		<string>Runtime exploration of Objective-C and Objective-C++ programs through F-Script&apos;s Object Browser and Console. Specifically, this plugin comes in handy when the program you want to explore disables debugger-attaching (so you can&apos;t use it to load the F-Script framework), or when the program has no menu bar (such as a status-bar-only app). In these cases, use EasySIMBL to load this plugin, and then use the shortcuts to control F-Script ! (see below for detailed instructions).</string>
		<key>donate</key>
		<string></string>
		<key>filename</key>
		<string>/bundles/SIMBL-FScript_1.0.zip</string>
		<key>homepage</key>
		<string>https://github.com/perfaram/SIMBL-fscript</string>
		<key>name</key>
		<string>SIMBL-FScript</string>
		<key>package</key>
		<string>com.faramaz.SIMBL-FScript</string>
		<key>price</key>
		<string>$0.00</string>
		<key>size</key>
		<string>159030</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>*</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.0</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<key>com.hackingdartmouth.message-indicator</key>
	<dict>
		<key>apps</key>
		<string>Messages</string>
		<key>author</key>
		<string>Alex Beals</string>
		<key>compat</key>
		<string>macOS 10.9+</string>
		<key>contact</key>
		<string>alexcbeals+simbl@gmail.com</string>
		<key>date</key>
		<string>Feb 03, 2018</string>
		<key>description</key>
		<string>This plugin adds a small gray indicator under the blue unread one to Messages if you weren&apos;t the last person to respond, and it&apos;s not a group chat.</string>
		<key>descriptionShort</key>
		<string>A Messages indicator for when you haven&apos;t responded</string>
		<key>donate</key>
		<string></string>
		<key>filename</key>
		<string>/bundles/message-indicator_1.1.0.zip</string>
		<key>homepage</key>
		<string>https://github.com/dado3212/message-indicator</string>
		<key>name</key>
		<string>message-indicator</string>
		<key>package</key>
		<string>com.hackingdartmouth.message-indicator</string>
		<key>price</key>
		<string>Free</string>
		<key>size</key>
		<string>20002</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.iChat</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.1.0</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<key>com.kuglee.BatteryExtra</key>
	<dict>
		<key>apps</key>
		<string>Battery Statusbar Item</string>
		<key>author</key>
		<string>Gábor Librecz</string>
		<key>compat</key>
		<string>macOS 10.9+</string>
		<key>contact</key>
		<string></string>
		<key>date</key>
		<string>Jun 11, 2017</string>
		<key>description</key>
		<string>Makes the Battery status indicator work just like how it did back in Mac OS X Lion (10.7). This only supports macOS Sierra (10.12).</string>
		<key>descriptionShort</key>
		<string>SIMBL plugin for the Battery status indicator</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/BatteryExtra_1.1.1.zip</string>
		<key>homepage</key>
		<string>https://github.com/kuglee/BatteryExtra</string>
		<key>name</key>
		<string>BatteryExtra</string>
		<key>package</key>
		<string>com.kuglee.BatteryExtra</string>
		<key>price</key>
		<string>Free</string>
		<key>size</key>
		<string>27583</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.systemuiserver</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.1.1</string>
		<key>webpage</key>
		<string>https://github.com/kuglee/BatteryExtra</string>
	</dict>
	<key>com.mneorr.Alcatraz</key>
	<dict>
		<key>apps</key>
		<string>Xcode</string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>compat</key>
		<string>Xcode 7+</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>date</key>
		<string>Jan 18, 2017</string>
		<key>description</key>
		<string>Plugin manager for Xcode</string>
		<key>descriptionShort</key>
		<string></string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/Alcatraz_1.2.1.zip</string>
		<key>homepage</key>
		<string>http://alcatraz.io/</string>
		<key>name</key>
		<string>Alcatraz</string>
		<key>package</key>
		<string>com.mneorr.Alcatraz</string>
		<key>price</key>
		<string>Free</string>
		<key>size</key>
		<string>138158</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.dt.Xcode</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.2.1</string>
		<key>webpage</key>
		<string>http://alcatraz.io/</string>
	</dict>
	<key>info.8-p.GreaseKit</key>
	<dict>
		<key>apps</key>
		<string>Safari</string>
		<key>author</key>
		<string>Kato Kazuyoshi</string>
		<key>compat</key>
		<string>macOS 10.9+</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>date</key>
		<string>Apr 01, 2017</string>
		<key>description</key>
		<string></string>
		<key>descriptionShort</key>
		<string></string>
		<key>donate</key>
		<string></string>
		<key>filename</key>
		<string>/bundles/GreaseKit_1.7.zip</string>
		<key>homepage</key>
		<string>https://8-p.info/greasekit/</string>
		<key>name</key>
		<string>GreaseKit</string>
		<key>package</key>
		<string>info.8-p.GreaseKit</string>
		<key>price</key>
		<string>$0.00</string>
		<key>size</key>
		<string>75609</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>*</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.7</string>
		<key>webpage</key>
		<string>https://8-p.info/greasekit/</string>
	</dict>
	<key>me.choco.noTitleBarTerminal</key>
	<dict>
		<key>apps</key>
		<string></string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>compat</key>
		<string>macOS 10.9+</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>date</key>
		<string>Apr 01, 2017</string>
		<key>description</key>
		<string></string>
		<key>descriptionShort</key>
		<string></string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/noTitleBar-Terminal_0.2.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>noTitleBar-Terminal</string>
		<key>package</key>
		<string>me.choco.noTitleBarTerminal</string>
		<key>price</key>
		<string>$0.00</string>
		<key>size</key>
		<string>10755</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.Terminal</string>
			</dict>
		</array>
		<key>version</key>
		<string>0.2</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<key>me.inket.GlobalNoFullscreenButton</key>
	<dict>
		<key>apps</key>
		<string>System</string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>compat</key>
		<string>macOS 10.9+</string>
		<key>contact</key>
		<string>mahdi@outlook.com</string>
		<key>date</key>
		<string>Mar 15, 2017</string>
		<key>description</key>
		<string>Hides fullscreen button from windows.</string>
		<key>descriptionShort</key>
		<string></string>
		<key>donate</key>
		<string></string>
		<key>filename</key>
		<string>/bundles/GlobalNoFullscreenButton_1.0.zip</string>
		<key>homepage</key>
		<string>https://github.com/inket</string>
		<key>name</key>
		<string>GlobalNoFullscreenButton</string>
		<key>package</key>
		<string>me.inket.GlobalNoFullscreenButton</string>
		<key>price</key>
		<string>$0.00</string>
		<key>size</key>
		<string>5252</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>*</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.0</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<key>me.inket.GlobalNoWindowIcon</key>
	<dict>
		<key>apps</key>
		<string>System</string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>compat</key>
		<string>macOS 10.9+</string>
		<key>contact</key>
		<string>mahdi@outlook.com</string>
		<key>date</key>
		<string>Mar 15, 2017</string>
		<key>description</key>
		<string>Hides window icons on (almost) all apps.</string>
		<key>descriptionShort</key>
		<string></string>
		<key>donate</key>
		<string></string>
		<key>filename</key>
		<string>/bundles/GlobalNoWindowIcon_1.0.zip</string>
		<key>homepage</key>
		<string>https://github.com/inket</string>
		<key>name</key>
		<string>GlobalNoWindowIcon</string>
		<key>package</key>
		<string>me.inket.GlobalNoWindowIcon</string>
		<key>price</key>
		<string>$0.00</string>
		<key>size</key>
		<string>16052</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>*</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.0</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<key>me.inket.GlobalNoWindowTitle</key>
	<dict>
		<key>apps</key>
		<string>System</string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>compat</key>
		<string>macOS 10.9+</string>
		<key>contact</key>
		<string>mahdi@outlook.com</string>
		<key>date</key>
		<string>Mar 15, 2017</string>
		<key>description</key>
		<string>Hides window titles+icons.</string>
		<key>descriptionShort</key>
		<string></string>
		<key>donate</key>
		<string></string>
		<key>filename</key>
		<string>/bundles/GlobalNoWindowTitle_1.0.zip</string>
		<key>homepage</key>
		<string>https://github.com/inket</string>
		<key>name</key>
		<string>GlobalNoWindowTitle</string>
		<key>package</key>
		<string>me.inket.GlobalNoWindowTitle</string>
		<key>price</key>
		<string>$0.00</string>
		<key>size</key>
		<string>8567</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>*</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.0</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<key>name.guoc.excerptor.PDFReaderPlugin</key>
	<dict>
		<key>apps</key>
		<string>Preview / Skim</string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>compat</key>
		<string>macOS 10.10+</string>
		<key>contact</key>
		<string>guochen42+excerptor@gmail.com</string>
		<key>date</key>
		<string>Mar 11, 2017</string>
		<key>description</key>
		<string>When you read a PDF file, you may want to take some excerpts, like excerpting on physical books (including article name, page number etc.). Via Excerptor, you can take excerpts easily: select text in Preview/Skim and type a shortcut. An excerpt will be stored in pasteboard or a file. The excerpt includes a special link. By clicking the link, Excerptor will open the corresponding file by Preview/Skim, go to the page you want and highlight the excerpt you made, automatically.</string>
		<key>descriptionShort</key>
		<string>Take and locate excerpts in PDF files quickly</string>
		<key>donate</key>
		<string></string>
		<key>filename</key>
		<string>/bundles/PDFReaderPlugin_1.2.zip</string>
		<key>homepage</key>
		<string>https://github.com/guoc/excerptor</string>
		<key>name</key>
		<string>PDFReaderPlugin</string>
		<key>package</key>
		<string>name.guoc.excerptor.PDFReaderPlugin</string>
		<key>price</key>
		<string>$0.00</string>
		<key>size</key>
		<string>30097</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.Preview</string>
			</dict>
			<dict>
				<key>BundleIdentifier</key>
				<string>net.sourceforge.skim-app.skim</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.2</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<key>org.craptech.lightWin</key>
	<dict>
		<key>apps</key>
		<string></string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>compat</key>
		<string>macOS 10.9+</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>date</key>
		<string>Apr 01, 2017</string>
		<key>description</key>
		<string></string>
		<key>descriptionShort</key>
		<string></string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/lightWin_0.1.14.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>lightWin</string>
		<key>package</key>
		<string>org.craptech.lightWin</string>
		<key>price</key>
		<string>$0.00</string>
		<key>size</key>
		<string>22098</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.Terminal</string>
			</dict>
		</array>
		<key>version</key>
		<string>0.1.14</string>
		<key>webpage</key>
		<string></string>
	</dict>
</dict>
</plist>
